---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Hero from '../components/Hero';
import AwardsMarquee from '../components/AwardsMarquee';
import TheAgingRoom from '../components/TheAgingRoom';
import OurStory from '../components/OurStory';
import HopeStreet from '../components/HopeStreet';
import Menu from '../components/Menu';
import Testimonials from '../components/Testimonials';
import Reservations from '../components/Reservations';
import VisitUs from '../components/VisitUs';
import Footer from '../components/Footer';
---

<Layout title="Pier 36 Steakhouse | Ireland's Finest Dry-Aged Steaks | Donaghadee">
  <Header client:load />
  <main>
    <Hero client:load />
    <AwardsMarquee client:load />
    <TheAgingRoom client:visible />
    <OurStory client:visible />
    <HopeStreet client:visible />
    <Menu client:visible />
    <Testimonials client:visible />
    <Reservations client:visible />
    <VisitUs client:visible />
  </main>
  <Footer client:visible />
</Layout>
